## Imports

In [1]:
# Pandas, Numpy and Matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Import All nltk
import nltk
#nltk.download_shell()

# Get tagged words

In [3]:
# Set name of file
filename = '../data/interim/disease_tags.pkl'

# Read to DataFrame
df = pd.read_pickle(filename)

# Echo
df.head()

,Id,start,end,disease_tag,ont,unique_id
0,200000001,56,85,cutaneous malignant melanomas,OMIM,155600
1,200000003,0,20,Renal Cell Carcinoma,MESH,D002292
2,200000003,141,154,kidney cancer,MESH,D007680
3,200000003,245,290,neoplastic and non-cancerous renal epithelium,MESH,D007680
4,200000003,656,668,renal cancer,MESH,D007680

In [39]:
# Drop nulls, exclude start/end/disease_tag columns
tags = df['Id ont unique_id'.split()].dropna(axis=0)

# Rename fields, create combined field ont:unique_id
tags['summary_id'] = tags['Id']
tags['disease_id'] = tags['ont']+':'+tags['unique_id']
tags['year'] = 2017 #pd.Series(np.random.randint(2000,2019,tags.shape[0]))

# Leave only important fields
tags = tags['year summary_id disease_id'.split()]

# Drop duplicates
tags = tags.drop_duplicates(subset='summary_id disease_id'.split())

# Echo
tags.head(10)

    year summary_id    disease_id
0   2017  200000001   OMIM:155600
1   2017  200000003  MESH:D002292
2   2017  200000003  MESH:D007680
6   2017  200000003  MESH:D007674
7   2017  200000003  MESH:D002277
10  2017  200000014  MESH:D009369
16  2017  200000014  MESH:D000230
17  2017  200000014  MESH:D006223
18  2017  200000014  MESH:C535955
19  2017  200000016  MESH:D009369

In [43]:
# Drop nulls, exclude start/end/disease_tag columns
tags = df['Id ont unique_id'.split()].dropna(axis=0)

# Rename fields, create combined field ont:unique_id
tags['summary_id'] = tags['Id']
tags['disease_id'] = tags['ont']+':'+tags['unique_id']
tags['year'] = 2017 #pd.Series(np.random.randint(2000,2019,tags.shape[0]))

# Leave only important fields
tags = tags['year summary_id disease_id'.split()]

# Echo
tags.head(10)

   year summary_id    disease_id
0  2017  200000001   OMIM:155600
1  2017  200000003  MESH:D002292
2  2017  200000003  MESH:D007680
3  2017  200000003  MESH:D007680
4  2017  200000003  MESH:D007680
5  2017  200000003  MESH:D002292
6  2017  200000003  MESH:D007674
7  2017  200000003  MESH:D002277
8  2017  200000003  MESH:D002292
9  2017  200000003  MESH:D002292

In [50]:
# Set strength of duplicates
tags['combined_id'] = tags['summary_id'] +'_'+ tags['disease_id']

tags.head()

   year summary_id    disease_id             combined_id
0  2017  200000001   OMIM:155600   200000001_OMIM:155600
1  2017  200000003  MESH:D002292  200000003_MESH:D002292
2  2017  200000003  MESH:D007680  200000003_MESH:D007680
3  2017  200000003  MESH:D007680  200000003_MESH:D007680
4  2017  200000003  MESH:D007680  200000003_MESH:D007680

# Create links between #tags in same summary

In [ ]:
links = set()
for index, record in df.iterrows():
    for tag1 in record['Tags']:
        for tag2 in record['Tags']:
            links.add((tag1, tag2))
len(links)

In [ ]:
import csv

with open('Links_250.csv', 'w') as outfile:
    w = csv.writer(outfile, delimiter=',', quotechar='"')
    w.writerow(['Source','Target'])
    for element in links:
        #print(list(element))
        w.writerow(element)